.home {
  h1,
  h2 {
    line-height: 28px;
  }

  @media (min-width: 1024px) {
    h1 {
      font-size: 40px;
      line-height: 47px;
    }
  }

  h2 {
    font-size: 24px;
    margin: 0 20px;

    @media (min-width: 768px) {
      margin: 0px;
    }
  }

  @media (min-width: 768px) {
    section {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  @media (min-width: 1024px) {
    &__section-content {
      max-width: 1080px;
      margin: 0 auto;
    }
  }
}

.location {
  background-color: #eaeaea;
  color: $sec-text-color;
  padding: 15.5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;

  @media (min-width: 1024px) {
    box-shadow: none;
  }

  &__text {
    margin: 0;

    i {
      margin-right: 17px;
    }
  }
}

.location,
.intro-section {
  text-align: center;
}

.intro-section {
  padding: 39px 30px 57px;

  @media (min-width: 1024px) {
    padding: 30px;
  }

  &__heading {
    margin: 0;

    span {
      display: block;

      @media (min-width: 400px) {
        display: inline;
      }
    }
  }

  &__desc {
    color: $sec-text-color;
    font-size: 18px;
    line-height: 21px;
    margin: 12px 0 31px;

    @media (min-width: 1024px) {
      margin: 30.5px 0 30.5px;
    }
  }
}

.intro-section,
.restaurants-section {
  background-color: $main-bg-color;
}

.how-to-section {
  padding: 48px 0 68px;

  @media (min-width: 1024px) {
    padding: 50px 0;
  }
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 20px;
  margin-top: 29px;

  @media (min-width: 768px) {
    padding: 0;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    margin-top: 28px;
    gap: 24px;
  }
}

.step {
  background-color: $main-bg-color;
  border-radius: 20px;
  display: flex;
  align-items: center;
  height: 72px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  margin-left: 12px;

  @media (min-width: 1024px) {
    flex-grow: 1;
  }

  &__icon {
    width: 16px;
    margin-right: 20px;
  }

  &__desc {
    margin: 0;
  }

  &__number {
    color: #ffffff;
    background-color: #9356dc;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-right: 12px;
    transform: translateX(-50%);
  }
}

.restaurants-section {
  padding: 54px 0 66px;

  @media (min-width: 1024px) {
    padding: 30px 0;
  }
}

.restaurants {
  margin: 20px 17.5px 0;
  display: flex;
  flex-direction: column;
  gap: 18px;

  @media (min-width: 650px) {
    display: grid;
    grid-template: auto auto / 1fr 1fr;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    margin: 20px 0px 0px;
  }

  @media (min-width: 1024px) {
    margin: 28px 0px 0px;
    gap: 50px;
  }

  @media (min-width: 1300px) {
    column-gap: 100px;
  }
}

.restaurant-card {
  @extend %basic-card;
  text-decoration: none;
  color: $main-text-color;
  display: block;
  position: relative;

  &__tag {
    background-color: $accent-bg-color;
    color: $accent-text-color;
    position: absolute;
    font-size: 14px;
    width: 80px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    top: 13px;
    right: 12px;
  }

  &__img {
    object-fit: cover;
    object-position: bottom;
    height: 174px;
    width: 100%;
    display: block;

    @media (min-width: 500px) and (max-width: 650px) {
      height: 231px;
    }

    @media (min-width: 1024px) {
      object-position: 50% 60%;
    }

    &--off-center {
      object-position: 50% 60%;
    }
  }

  &__main-content {
    display: flex;
    justify-content: space-between;
    padding: 16px 25px 16px 13px;
  }

  &__location {
    font-size: 17px;
    line-height: 20px;
    margin: 4px 0 0;
  }
}

.heart {
  height: 21px;
  position: relative;

  &::after {
    content: url("/assets/images/heart-icon--filled.svg");
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s;
  }

  &:hover::after {
    opacity: 1;
    transform: scale(1);
  }
}
