.restaurant-bg {
  width: 100%;
  height: 275px;
  object-fit: cover;

  @media (min-width: 1024px) {
    height: 383px;
    object-position: center 60%;
  }
}

.menu-container {
  @media (min-width: 768px) {
    padding: 0 30px;
  }
}

.menu {
  background-color: $main-bg-color;
  border-radius: 40px;
  padding: 32px 17px 40px;
  transform: translateY(-55px);
  margin-bottom: -55px;

  @media (min-width: 768px) {
    max-width: 1055px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 32px 30px 40px;
    margin: 0 auto -55px;
  }

  @media (min-width: 1024px) {
    padding: 51px 30px 40px;
    margin: 0 auto -40px;
    transform: translateY(-40px);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-right: 24px;
    align-items: center;

    @media (min-width: 768px) {
      text-align: center;
      justify-content: center;
      margin: 0;
      gap: 24px;
    }
  }

  &__restaurant-name {
    margin: 0;
    font-size: 28px;
    line-height: 41px;
  }

  &__section-heading {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 12px;

    &::after {
      content: "";
      height: 3px;
      width: 40px;
      background-color: $accent-bg-color;
      display: block;
      margin-top: 5px;
    }
  }

  &__sections {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 28px 0 40px;

    @media (min-width: 768px) {
      max-width: 634px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      margin: 28px auto 40px;
    }

    @media (min-width: 1024px) {
      margin: 40px auto;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    @extend %basic-card;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    position: relative;

    animation: appear 0.25s both;

    @for $i from 1 through 9 {
      &--#{$i} {
        animation-delay: 0.125s * ($i - 1);
      }
    }
  }

  &__item-infos {
    padding: 13.5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 4px;

    & > div {
      overflow: hidden;
    }
  }

  &__item-desc {
    margin: 5px 0 0;
  }

  &__item-price {
    margin: 0;
    color: #353535;
    font-weight: bold;
  }

  &__item-name,
  &__item-desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__item-desc,
  &__item-price {
    font-size: 15px;
    line-height: 18px;
  }

  &__add-item {
    border: none;
    background-color: $accent-bg-color;
    padding: 25.5px 20px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    transform: translateX(100%);
  }

  &__check-icon {
    height: 20px;
    width: 20px;
    display: block;
  }

  &__add-item,
  &__item-infos {
    transition: all 0.25s ease-out;
  }

  &__item:hover &__add-item {
    transform: translateX(0);
  }

  &__item:hover &__item-infos {
    margin-right: 60px;
  }

  .button {
    display: block;
    margin: 0 auto;
    padding-left: 48.5px;
    padding-right: 48.5px;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
