.heart {
  height: 21px;
  width: 22px;
  position: relative;
  cursor: pointer;

  &::after {
    content: url("../images/heart-icon--filled.svg");
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s;
  }

  &:hover::after {
    opacity: 1;
    transform: scale(1);
  }
}
