.footer {
  background-color: $dark-bg-color;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 768px) {
    flex-direction: row-reverse;
    align-items: center;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    gap: 37px;
    padding: 22px 30px;
  }

  @media (min-width: 1024px) {
    gap: 74px;
    padding: 58px 30px 30px;
  }

  &__link {
    color: #ffffff;
    text-decoration: none;

    i {
      margin-right: 10px;
    }

    &--logo {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__main-links,
  &__links-group {
    display: flex;
    flex-direction: column;
    gap: 7px;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__main-links {
    @media (min-width: 768px) and (max-width: 1023px) {
      gap: 16px;
    }

    @media (min-width: 1024px) {
      gap: 37px;
    }
  }
}
