body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: $main-text-color;
  line-height: 1.1875;
}

.accent-font {
  font-family: "Shrikhand", serif;
  font-weight: 400;
}

.light {
  font-weight: 300;
}
